/* General styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light gray background */
}

/* Header styling */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding is included in the total width */
  background-color: #343a40; /* Dark gray background */
  color: #ffffff; /* White text color */
}

/* Logo, placeholder, and location selector styling */
.logo,
.placeholder,
.location-selector {
  margin: 0 10px; /* Adds space around the elements */
  cursor: pointer;
  color: #ffffff; /* White text color */
}

/* Main content styling */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Increases gap between squares */
  margin: 20px 0;
}

/* Styling for individual day squares */
.day-square {
  width: 120px; /* Makes squares bigger */
  height: 120px; /* Makes squares bigger */
  background-color: #ffffff; /* White background */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Adds some space around each square */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

/* Info block styling */
.info-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px; /* Adds space between rows of blocks */
}

/* Map, suggestions, live map, warnings, and graph styling */
.map,
.suggestions,
.live-map,
.warnings,
.graph {
  background-color: #ffffff; /* White background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set height to match other elements */
  width: calc(33.333% - 20px); /* Adjust width to fit container */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

.live-map,
.graph {
  width: calc(44.444%);
}

/* Stretch suggestion element */
.suggestions {
  width: calc(22.222% - 20px);
}

.logo-img {
  width: 70px; /* Set the width of the logo image */
  height: 70px; /* Maintain aspect ratio */
}

.left-buttons {
  display: flex;
  align-items: center; /* Align items vertically */
}

.placeholder {
  margin: 0 10px; /* Adds space around the elements */
  cursor: pointer;
  color: #000000; /* Black text color */
  align-self: center; /* Align items vertically */
}

/* Button styling */
button {
  background-color: #beffbc; /* Blue button color */
  color: #000000; /* Black text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth color transition */
}

button:hover {
  background-color: #beffbc; /* Darker blue on hover */
}
